<p>Hello</p>
<h4>Add a burger!</h4>
<input type="text" id="new-input">
<button id="sub-btn">Submit!</button>
<h4>Begging to be consumed</h4>
<ul id="to-eat-list">
  {{#each burgers}}
  {{#unless devoured}}

  <li id={{id}}>{{burger_name}}</li>
  <button class="devour-btn" value={{id}}>
    Devour!
  </button>
  
  {{/unless}}
  {{/each}}
</ul>
<h4>Devoured</h4>

<ul id="eaten-list">
  {{#each burgers}}
  {{#if devoured}}
  <li>{{burger_name}}</li>
  {{/if}}
  {{/each}}
</ul>
<script src="https://code.jquery.com/jquery-3.3.1.min.js">
</script>
<script src="/assets/js/script.js">
</script>